#logo {
  position: relative;
  display: inline-block;
  height: 5rem;
  width: auto;
}

.chara-box {
  background: url('../images/school_night.png') no-repeat center/cover;
  opacity: 1;
  max-width: 1440px;
  overflow: hidden;
  height: 100vh;
}

.loop:not(:first-child) {
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
}

.loop:first-child {
  opacity: 1;
}

#chara {
  position: relative;
  top: 0;
  left: 0;
  z-index: auto;
}

#chara-inner {
  position: relative;
  top: 0;
  left: 0;
}

#chara img {
  position: absolute;
  max-width: 50%;
  max-height: 1600px;
  right: 0;
  backface-visibility: hidden;
}

.chara-menu {
  text-align: left;
  max-width: 480px;
  margin: 1rem;
}

.chara-name h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.chara-menu li,
.chara-info p {
  margin: 0.3rem 0.3rem 0.3rem 0;
}

.chara-menu li,
.chara-info p,
.reset h2,
.demo h2 {
  background: #fff;
  position: relative;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 0.5rem;
  transition: 0.5s ease;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}

.chara-menu li:hover {
  background: #4e86fd;
}

.chara-info p {
  font-size: 1.2rem;
  line-height: 1.2;
  display: block;
  cursor: initial;
  margin-bottom: 0.3rem;
}

.reset {
  position: relative;
  bottom: 0;
}
