@keyframes init{
  0%{
    opacity: 0;
    top: 55%;
  }

  50%{
    opacity: 1;
    top: 50%;
  }

  75%{
    opacity: 1;
    top: 50%;
  }

  100%{
    opacity: 0;
    top: 50%;
  }
}

@keyframes start{
  0%{
    left: 50px;
  }

  100%{
    left: 0;
  }
}

@keyframes end{
  0%{
    left: 0;
  }

  100%{
    left: -50px;
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes fade-out{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}